*{
    margin: 0;
}

body{
    font-family: calibri;
    background: linear-gradient(to right ,#545454,#7A7A7A,#B4B4B4,#7A7A7A, #545454);
}

h1{
    text-align: center;
}

h2{
    margin-top: 25px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.info {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    text-align: center;
}

.center {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

}