*{
    margin: 0;
    font-family: calibri;
}

body{
    background: linear-gradient(to right ,#545454,#7A7A7A,#B4B4B4,#7A7A7A, #545454);
}

h1{
    text-align: center;
}

h2{
    margin-top: 20px;
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}
.center {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dato{
    font-family: calibri;
    font-size: 20px;
    font-style: oblique;
    margin-left: 26%;
    margin-right: 28%;
}