.menu{
    margin-top: 15px;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    line-height: 3rem;
    position: relative;
}

nav li ul {
    position: absolute;
}

nav a {
    color: #ddd;
    display: block;
    padding: 0 2.5rem;
    text-decoration: none;
    transition: .4s;

}

nav a:hover {
    background: rgba(0, 0, 0, .5);
}

nav li ul {
    display: none;
}

nav li:hover > ul {
    display: block;
}

/* Primer nivel */

nav > ul {
    background: #333;
    display: table;
    width: 100%;
}

nav > ul > li {
    float: left;
}

/* segundo nivel */

nav li li {
    background: #222;
}

nav > ul > li > ul {
    top : 100%;
}

/* terser nivel */

nav ul ul ul {
    left: 100%;
    top: 15px;
}