*{
    margin: 0;
}

body{
    font-family: calibri;
    background: linear-gradient(to right ,#545454,#7A7A7A,#B4B4B4,#7A7A7A, #545454);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info{
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    font-size: 25px;
}

.center {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}