*{
    margin: 0px;
    font-family: 'calibri';
}

body{
    background: linear-gradient(to right ,#545454,#7A7A7A,#B4B4B4,#7A7A7A, #545454);
}

h1{
    margin-top: 10px;
    text-align: center;
}

h2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.info{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

.videos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}